* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.8rem, 2vw, 1rem);
    background-color: #333;
}

header {
    background-color: #333;
    color: #c1c1c1;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

main {
    height: calc(100vh - 160px);
    padding: 20px;
}



section {
    background-color: #333;
    height: 100%;
    width: 100%;
}

section .container {
    height: 100%;
    width: 100%;
}

section #color_generator_container {
    display: flex;
    height: calc(100% - 60px);
    flex-direction: column;
}

#color_generator_container div {
    cursor: pointer;
}

#color_generator_container div:hover {
    opacity: 0.9;
    transform: translate(40deg);
}


@media (min-width: 768px) {
    section #color_generator_container {
        flex-direction: row;
    }
}

/* .hue-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c1c1c1;
    gap: 1rem;
} */

/* .hue-container input {
    background-color: #333;
    color: #c1c1c1;
    border: 1px solid #c1c1c1;
    padding: 0.5rem 1rem;
} */

/* input::value {
    b
} */

.btn-group {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

section #color_generator_container div {
    flex: 1;
    /* margin: 4px; */
    border: 1px solid #c1c1c1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 80px;
    background-color: #333;
    color: #c1c1c1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    padding: 0.5rem 1rem;
    background-color: green;
    color: #fff;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #c1c1c1;
}

button:hover {
    opacity: 0.8;
}

.popup_article {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: #c1c1c1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: show;
    opacity: 1;
}

.popup_article_close_button {
    position: absolute;
    top: 50px;
    right: 50px;
}

.container_article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    /* justify-content: center; */
    /* background-color: blue; */
    width: clamp(300px, 20vw, 500px);
}

.container_article div {
    width: 100%;
}

.inputs_hls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}